<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{url_for('static',filename='styles.css')}}">
    <title>Second Page</title>
</head>

<body>
        <form action="/">
            <input type="submit" value="Go Back" style="width:12vh;height:5vh; position:absolute;top:20px;left: 20px;font-size:2vh;
            background-color: rgb(216, 216, 216);font-weight: bold;">
        </form> 
        <div class="card">
            <div class="desc">
                <h4>Please Enter All Data Correctly</h4>
                <h1>😕</h1>
            </div>
        </div>
</body>
</html>